.registration {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;

  &__header{
    font-size: 30px;
    margin-bottom: 20px;
  }

}